[submodule "third_party/sdl/upstream"]
	path = third_party/sdl/upstream
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/imgui/upstream"]
	path = third_party/imgui/upstream
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/tracy/upstream"]
	path = third_party/tracy/upstream
	url = https://github.com/wolfpld/tracy.git
[submodule "ctrack"]
	path = third_party/ctrack/upstream
	url = https://github.com/Compaile/ctrack.git
[submodule "third_party/sdl-image/upstream"]
	path = third_party/sdl-image/upstream
	url = https://github.com/libsdl-org/SDL_image.git
